h1{
	margin-left: 100px;
	margin-top: 100px;
	font-family: barlowCondesend;
	font-size: 37px;

}

p,ul,h3{
	font-family: arial;
	margin-left: 100px;
	margin-right: 200px;
	font-size: 16px;
}

h2{
	font-size: inherit;
	margin-left: 100px;
}